@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Poppins:wght@400;500;600&display=swap');
@font-face {
	font-family: 'Anonymous Pro';
	src: url(fonts/AnonymousPro-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url(fonts/AnonymousPro-Regular.ttf);
}

:root {
	--transition: all 400ms ease;
	--shadow: 1px 3px 30px -16px rgb(10 10 10);
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #f1f1f1;
	margin: 0;
	font-family: 'Anonymous Pro', sans-serif;
}
img {
	pointer-events: none;
}
a,
a:visited {
	all: unset;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}

h1 {
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 56px;
}

h2 {
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 48px;
}

.container {
	width: 100%;
	max-width: 1161px;
	margin: 0 auto;
}

h3 {
	font-family: 'Anonymous Pro', sans-serif;
	font-size: 26px;
	margin: 0;
}

header {
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #a1a6b4;
}
.header__wrapper {
	height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__wrapper-logo {
	height: 67px;
	width: 212.33px;
}
.header__wrapper-logo a {
	display: block;
	height: 67px;
	width: 212.33px;
}
.header__wrapper-contact {
	padding: 0;
}
.header__wrapper-contact ul {
	padding-inline-start: 0;
}

.header__wrapper-contact ul li {
	display: inline-block;
	font-size: 20px;
	margin-right: 24px;
	list-style: none;
	font-weight: 700;
	padding: 0;
}
.header__wrapper-contact ul li:last-child {
	margin-right: 0;
}

.content-title {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 500;
}
.card {
	background: #fff;
	max-width: 371px;
	transition: var(--transition);
	border-radius: 12px 12px 12px 12px;
}
.card:hover {
	transform: translateY(-10px);
	box-shadow: var(--shadow);
}
.content-cards img {
	width: 100%;
}
.content-cards {
	display: flex;
	gap: 24px;
	align-items: flex-start;
	flex-wrap: wrap;
}
.card-description {
	margin: 0;
	color: var(--black, #121723);
	font-family: 'Anonymous Pro';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.card-typography {
	padding: 32px 24px;
}
footer {
	background: #121723;
	margin-top: 25px;
	height: 142px;
}
.footer__wrapper {
	height: 87px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(230, 232, 236, 0.4);
}
.footer__wrapper-contact ul li {
	display: inline-block;
	font-size: 20px;
	margin-right: 24px;
	list-style: none;
	color: #fff;
	font-weight: 700;
}
.footer__wrapper-contact ul {
	padding-inline-start: 0;
}

.footer__wrapper-contact ul li:last-child {
	margin-right: 0;
}
.footer-copyright p {
	color: var(--text_gray, #a1a6b4);

	height: 21px;
	font-family: 'Anonymous Pro';
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 1220px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.container {
		width: 90%;
	}
	h2 {
		font-size: calc(33px + 12 * (100vw / 1280));
	}
	.content-cards {
		justify-content: center;
	}
}
@media screen and (max-width: 490px) {
	.header__wrapper {
		margin-top: 22px;
		height: 122px;
		flex-direction: column;
		justify-content: center;
	}
	.content-title {
		font-size: 32px;
	}

	footer {
		height: 164px;
	}
	.footer__wrapper {
		margin-top: 22px;
		flex-direction: column;
		justify-content: center;
	}
}
