<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Упс страница не найдена</title>
		<link
			rel="stylesheet"
			href="../../style.css" />
		<link
			rel="stylesheet"
			href="404.css" />
	</head>
	<body>
		<header>
			<div class="container">
				<div class="header__wrapper">
					<div class="header__wrapper-logo">
						<a href="../../index.html">
							<img
								src="../../assets/logo.png"
								alt="КРОССЫ -- И ТОЧКА." />
						</a>
					</div>
					<div class="header__wrapper-contact">
						<nav>
							<ul>
								<li><a href="https://t.me/jkdlon">💬 TG</a></li>
								<li><a href="https://vk.com/i______________l">😊 VK</a></li>
								<li>
									<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
										>📺 YouTube</a
									>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<section class="container">
			<div class="error">
				<div class="error-wrapper">
					<div class="error-text">
						<p>Упс мы затерялись среди кроссовок &#129402;</p>
						<p>Похоже этой страници небыло в техническом задании &#129300;</p>
						<div class="eb">

							<a href="../../index.html"> <div class="error-button">
                                Вернутся на главную
                            </div></a>
						</div>
					</div>
					<div class="error-foto">
						<img
							src="../../assets/kisspng-cut-the-rope-2-cut-the-rope-experiments-sticker-z-5aec07c465c774.5819420815254179244169.png"
							alt="" />
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="container">
				<div class="footer__wrapper">
					<a href="../../index.html">
						<img
							class="footer__wrapper-logo"
							src="../../assets/logo2.png"
							alt=""
					/></a>
					<div class="footer__wrapper-contact">
						<nav>
							<ul>
								<li><a href="https://t.me/jkdlon">💬 TG</a></li>
								<li><a href="https://vk.com/i______________l">😊 VK</a></li>
								<li>
									<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
										>📺 YouTube</a
									>
								</li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="footer-copyright">
					<p>КРОССЫ И ТОЧКА ® 2023</p>
				</div>
			</div>
		</footer>
	</body>
</html>
